@media (max-width: 1325px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 1100px) {
  .monitoring-title {
    white-space: nowrap;
  }

  .monitoring-title .card-title {
    font-size: 18px !important;
  }

  .monitoring-title .water-mark {
    font-size: 36px;
    top: -40px;
  }

  .text-second.text-medium.mt-10px.fs-18 {
    font-size: 14px !important;
  }

  .monitoring-card .mt-30px.fs-18 {
    font-size: 14px !important;
  }

  .pie {
    display: none;
  }

  .mobile-graph {
    display: block;
    top: 0;
    position: absolute;
    right: 10px;
  }
}

@media (max-width: 990px) {
  .links {
    display: none;
  }

  .mobile-btn {
    display: block;
    margin-right: 30px;
  }

  .bg-row .col-lg-6:nth-child(1) {
    height: 930px;
  }

  .bg-row .col-lg-6:nth-child(2) {
    height: 750px;
  }

  .col-lg-6.pl-20px {
    padding-left: 10px !important;
    padding-right: 10px;
  }

  .row.mt-60px .col-lg-6:nth-child(1) {
    margin-bottom: 80px;
    height: 733px;
  }

  .transition {
    display: none;
  }

  .monitoring-card {
    margin-bottom: 20px;
  }

  .footer .col-lg-3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .button-group {
    display: block !important;
  }

  .button-group > .btn {
    margin-top: 30px;
    width: 100%;
  }
  
  .bg-row .col-lg-6:nth-child(1) {
    height: 1405px;
  }

  .page-title {
    font-size: 32px;
  }

  .title .water-mark {
    font-size: 64px;
  }

  .container {
    padding: 0 15px;
  }

  .row.mt-40px.mr-0 {
    margin-right: -10px !important;
  }

  .card.card-lg {
    padding: 20px 17px;
  }

  .monitoring-card .card-body {
    padding: 44px 17px;
    overflow: hidden;
  }

  .pie {
    top: -80px;
    right: -40px;
    position: relative;
    opacity: 0.2;
  }

  .monitoring-title {
    white-space: nowrap;
  }

  .monitoring-card .card-footer {
    margin: 0 17px;
  }

  .btn.btn-primary.btn-block.text-500.fs-18 {
    font-size: 16px !important;
  }

  .btn.btn-primary.btn-block.text-500.fs-18 i {
    font-size: 18px !important;
    margin-right: 10px;
  }

  .monitoring-title .card-title {
    font-size: 18px !important;
  }

  .monitoring-title .water-mark {
    font-size: 36px;
    top: -40px;
  }

  .text-second.text-medium.mt-10px.fs-18 {
    font-size: 14px !important;
  }

  .monitoring-card .mt-30px.fs-18 {
    font-size: 14px !important;
  }

  .row.mt-60px .col-lg-6:nth-child(1) {
    height: 745px;
  }

  .pie {
    display: none;
  }

  .mobile-graph {
    display: block;
    top: 0;
    position: absolute;
    right: 10px;
  }

  .modal-container {
    min-width: 0;
    padding: 30px 15px;
  }

  .modal {
    max-width: none;
  }

  #mobile-menu {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 441px) {
  .page-title {
    font-size: 24px;
  }

  .title .water-mark {
    font-size: 48px;
    top: -50px;
  }

  .tab {
    margin-right: 15px;
    font-size: 14px;
    padding: 14px 0;
  }

  #logo {
    display: none;
  }

  header .col-6:nth-child(1) {
    flex: 0 0 20%;
    max-width: 20%;
  }

  header .col-6:nth-child(2) {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .container {
    padding: 0 7px;
  }

  .title {
    white-space: nowrap;
  }

  .tab {
    margin-right: 10px;
  }

  body {
    overflow-x: hidden;
  }

  .mt-60px {
    margin-top: 30px !important;
  }

  #mobile-menu {
    display: block;
    margin-left: -7px;
    margin-right: -7px;
  }
}
